.textcenter{text-align:center;}
.margincenter{margin:0 auto;}
.border{
    border-radius:8px;
    margin-top:10px;
}
body{
    background:#92C1D1 url(../images/background.jpg) fixed center top no-repeat;
    background-size:cover;
}
.carousel{
    max-width:900px;
    max-height:393px;
    min-width:300px;
    min-height:131px;
    size:cover;
}
ul li{list-style:none;}
ul.unim li{
    float:left;
    width:195px;
    height:80px;
    line-height:80px;
    padding:0 15px;
}
ul.unim li img{width:165px;}
p{font:15px 'Microsoft YaHei';}