.textcenter{text-align:center;}
.margincenter{margin:0 auto;}
.border{
    border-radius:8px;
    margin-top:10px;
}
body{
    background:#92C1D1 url(../images/background.jpg) fixed center top no-repeat;
    background-size:cover;
}
.carousel{
    max-width:900px;
    max-height:393px;
}