*{
	margin:0 auto;
	padding:0;
}
body{
	background:url("../../images/nstu.jpg") fixed right center no-repeat;
	background-size:cover;
	text-align:center;
}
div.content{
	margin-top:15px;
	margin-bottom:15px;
	background:rgba(255,255,255,0.75);
	border:1px #999 solid;
	border-radius:5px;
	width:100%;
	max-width:260px;
	padding:15px;
}
img{width:220px;}
div.content p,div.content div.button{margin-top:15px;}
p.p1{font:15px "Microsoft YaHei";}
p.p2{font:13px "Microsoft YaHei";}
div.content div.button button{
	width:110px;
	height:35px;
	border-width:0px;
	border-radius:3px;
	background:#1E90FF;
	cursor:pointer;
	outline:none;
	font:16px "Microsoft YaHei";
}
div.content div.button button:hover{background:#5599FF;}
a:link,a:visited,a:hover,a:active{
	text-decoration:none;
	color:white;
}